<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_CommerceClient</title>
    <link href="~/lib/bootstrap/fontawesome-free-5.15.3-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/owl.theme.default.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/covidstyle.css" rel="stylesheet" />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E_CommerceClient</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header_logo">
                        <a href="Covid-Essentials.html"><span>Covid,</span> Essentials</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header_menu">
                        <ul>
                            @*<li class="active"><a href="Covid-Essentials.html">Home</a></li>*@
                            <li class="active">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="active">
                                <a asp-area="" asp-controller="Home" asp-action="Discount">Discount</a>
                            </li>
                            <li class="active">
                                <a asp-area="" asp-controller="Home" asp-action="Service">Service</a>
                            </li>
                            <li class="active">
                                <a asp-area="" asp-controller="Home" asp-action="Contact">ContactUs</a>
                            </li>
                            <li class="active">
                                <a asp-area="" asp-controller="Admin" asp-action="AddProducts">AddProducts</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                @*@Html.Partial(_Views_Shared__shoppingCart);*@

                <div class="col-lg-1"></div>
                <div class="header_right">
                    <div class="header_right_auth">

                        <li class="active">
                        <a asp-area="" asp-controller="Registration" asp-action="Registration">Login/Register</a>
                        </li>
                        @*<a href="#">Login</a>
                        <a href="#">Register</a>*@
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small elegant-color">

        <!-- Footer Links -->
        <div class="container">

            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col d-flex justify-content-center my-5 pt-1">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                    <br />
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fa fa-pinterest"> </i>
                    </a>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
