
@{
    ViewData["Title"] = "Service";
}



<head>
    <link href="~/lib/bootstrap/fontawesome-free-5.15.3-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/owl.theme.default.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/covidstyle.css" rel="stylesheet" />

</head>
<style>
    .shop-method-area .single-method i {
        font-size: 45px;
        color: #ff7200;
        margin-bottom: 25px;
        display: block;
    }

    .shop-method-area .single-method h6 {
        color: #282828;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .shop-method-area .single-method p {
        font-size: 16px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    .container h2 {
        color: #ff7200;
        font-family: cursive;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>
<section class="shop-method-area spad">
    <div class="container">
        <h2>Our Service</h2>
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-method mb-40">
                    <i class="fa fa-star"></i>
                    <h6>Free Shipping Method</h6>
                    <p>
                        Shop online for wide range of Covid Essentials & Healthcare Products from top brands on Covid Essentials
                        India. Free shipping and Cash on Delivery available.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-method">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <h6>Free Shipping Method</h6>
                    <p>
                        Shop online for wide range of Covid Essentials & Healthcare Products from top brands on Covid Essentials
                        India. Free shipping and Cash on Delivery available.
                    </p>
                </div>

            </div>

            <div class="col-lg-3 col-md-5 col-sm-4">
                <div class="single-method">
                    <i class="fa fa-briefcase"></i>
                    <h6>Safety and Security Tips</h6>
                    <p>Dilevery agent will get sanitize and temperture check. </p>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/popper.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/owl.carousel.min.js"></script>

